:root {
    --color-black: #1d1e1f;
    --color-grey: #515152;
    --color-white: #e0e0e0;
    --color-primary-1: #76a7c7;
    --color-primary-2: #92bad4;
    --color-primary-3: #a8cee5;
    --color-primary-4: #e7eff5;
    --color-secondary-1: #153953;
    --color-secondary-2: #24516e;
}
h1 {
    margin: 10px 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--color-black);
    margin: 0;
}

input {
    border: 0;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 5px;
}

button {
    width: 20%;
    height: 25px;
    border: 0;
    font-weight: 700;
    background: var(--color-secondary-2);
    color: var(--color-white);
    border-radius: 5px;
    transition: background 0.5s ease;
}
button:hover {
    background: var(--color-secondary-1);
    color: var(--color-white);
    cursor: pointer;
}
button:active {
    background: var(--color-secondary-2);
    transform: scale(0.95);
}
button:disabled {
    background-color: var(--color-grey);
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}

section {
    margin: 0% 5% 0% 2%;
}

.wrapper {
    padding: 5px 30px 15px;
}

.chat_header {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--color-secondary-1);
    background: var(--color-primary-1);
    color: var(--color-secondary-1);
    margin-top: 0;
}

.chat_body {
    flex-grow: 1;
    background: var(--color-primary-4);
    overflow-y: scroll;
}
#messages {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
}
#userMessage, #aiMessage {
    border: 1px solid var(--color-primary-1);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
}
#userMessage {
    margin-left: 20px;
    border-color: var(--color-grey);
    color: var(--color-grey);
}
#aiMessage {
    margin-right: 20px;
    color: var(--color-secondary-1);
}
.message_items {
    display: flex;
    flex-direction: column;
}

.chat_message {
    background: var(--color-primary-3);
    margin-bottom: 0;
}

.send_message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.send_message label {
    flex: 1;
    color: var(--color-secondary-1);
    font-weight: 700;
}
.send_message textarea {
    flex-grow: 1;
    margin: 3px 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    background: var(--color-white);
    width: 80%;
    height: 35px;
    font-size: 14px;
}
.send_message button {
    width: 15%;
    height: 25px;
}

#checkbox_rag {
    margin-bottom: 10px;
    margin-left: 5px;
}

.temporary {
    color: var(--color-secondary-1);
    text-align: bottom;
}
