# elasticsearch
ELASTIC_SCHEMA=http://
ELASTIC_HOST=mt-search-db
ELASTIC_PORT=9200

# redis
REDIS_SCHEMA=http://
REDIS_HOST=mt-cache
REDIS_PORT=6379

# search-service
SERVICE_SCHEMA=http://
SERVICE_HOST=mt-search-service
SERVICE_PORT=8000

# token secret
JWT_SECRET_KEY=gPaFf9ldf-8lgUFePhe
JWT_ALGORITHM=HS256
