python-dotenv==1.0.1
fastapi==0.115.7
gunicorn==23.0.0
uvicorn==0.34.0
orjson==3.10.15
python-jose==3.3.0

websockets==15.0
langchain==0.3.19
langchain-ollama==0.2.3
langgraph==0.3.1
langchain-chroma==0.2.2
transformers==4.49.0