python-dotenv==1.0.1
fastapi==0.115.7
gunicorn==23.0.0
uvicorn==0.34.0
orjson==3.10.15
python-jose==3.3.0

websockets==15.0
langchain==0.3.19
langchain-ollama==0.2.3
langgraph==0.3.1
langchain-chroma==0.2.2
transformers==4.49.0

jinja2==3.1.6
python-multipart==0.0.20

faster-whisper==1.1.1

# apt-get -qq -y install espeak-ng > /dev/null 2>&1
kokoro==0.8.4
pydub==0.25.1

transliterate==1.10.2
# sudo apt update
# sudo apt install libasound2-dev

# aiofiles==24.1.0

redis==5.0.4